[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pygame = "*"
opencv-python = "*"
Cython = "*"
Kivy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
main = "python main.py"
